/* Reset de estilos para asegurar consistencia en diferentes navegadores */
h1 {
  text-align: center;
  color: rgb(0, 0, 0);
  margin: 0;
  padding: 0;
}

#frase {
  text-align: center;
  font-size: 20px;
}

body {
  background: rgb(230, 172, 86);
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
}

.menu {
  text-align: center;
  font-size: 30px;
  color: rgb(0, 0, 0);
}

.menu a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  margin: 0 10px;
}

.menu a:hover {
  text-decoration: underline;
}

/*Formulario de contacto*/

.formulario {
  margin: 20px auto;
  max-width: 600px; 
  padding: 20px;
  background-color: #f5f5f5; 
  border-radius: 10px;
}

form {
  display: flex;
  flex-direction: column;
}

#registrate {
  margin-bottom: 15px;
  color: #333; 
}

.rellenar {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #555; 
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  box-sizing: border-box;
  border: 1px solid #ccc; 
  border-radius: 5px;
}

.rellenar p {
  margin-bottom: 0;
}

.rellenar a {
  color: blue; 
}

p.mensajeError {
  color: #e74c3c; 
  margin-top: 5px;
  font-size: 14px;
}

input[type="submit"] {
  background-color: #3498db; 
  color: #fff; 
  cursor: pointer;
  transition: background-color 0.3s;
  padding: 15px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
}

input[type="submit"]:hover {
  background-color: #2980b9; 
}

a {
  color: #3498db; 
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
